#mobile {
    display: none;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: rgb(43, 41, 41);
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #f13128 solid;
    font-size: 16px;
}



.subtitle a {
    color: #d62e25 !important;
}

.nav-link {
    font-size: 14px !important;
}

.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.btn {
    border-radius: 5px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #f13128 !important
}

.btn-secondary {
    background-color: #3b3b3a !important
}

.login {
    border-radius: 5px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: none !important;
}

.error {
    color: #fff !important;
    background-image: none !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
    height: 100%
}

.heading {
    padding: 80px 50px 160px !important;
    color: #fff !important;
    background-image: url("../images/background.svg") !important;
    background-position: right 50% bottom -1px !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.page {
    padding: 0px 50px 100px!important;
    color: #fff !important;
    background-image: url("../images/background.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.header {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 45px !important;
    color: #d62e25;
}

.subtitle {
    color: rgba(255, 255, 255, 0.61) !important;
    font-size: 16px !important;
}

.features {
    text-align: center !important;
    background: #f13128 !important;
}

.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
    margin: 0px 2px;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #f13128 !important;
}

.about {
    padding: 2px 25% !important
}

.about .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.about .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.statistics {
    background-color: rgb(43, 41, 41) !important;
    text-align: center !important;
    padding: 20px 20px !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}

.start {
    text-align: center !important;
    background: #f13128 !important;
    padding: 60px 50px !important
}

.start .card {
    background: rgba(255, 255, 255, 0.83) !important;
    color: #353e4c !important;
}

.start .card .subtitle {
    color: rgba(53, 62, 76, 0.6) !important;
    font-size: 16px !important;
}

.footer {
    text-align: center !important;
    background: #353e4c !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    font-size: 14px !important;
}

.footer a {
    color: #6086f6 !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

.guilds {
    padding: 10px 30%;
}

.guild {
    width: 100%;
    color: white;
    list-style: none;
    padding: 5px 0px;
    display: flex;
    vertical-align: middle;
    align-items: middle;
}

.guild-icon {
    flex-shrink: 0;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-weight: 500;
    line-height: 1.2em;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.guild-noicon {
    background-color: #36393f;
}

.guild-icon span {
    display: inline-block;
    padding: 15px 0px 15px;
}

.guild-name {
    font-size: 30px;
    vertical-align: middle;
    padding: 15px 15px;
    margin-bottom: 0px !important;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}

.guild-element {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#servers {
    text-transform: uppercase;
    color: white;
    list-style: none;
    padding: 5px 10px;
    margin: 10px;
    font-size: 20px;
    border-bottom: 1px solid white;
}

#servers span {
    padding: 5px 0px;
}

.edit-pfp-btn {
    flex-shrink: 0;
    margin-right: auto !important;
    padding: 12px 12px !important;
    font-size: 13px !important;
    background-color: rgb(161, 41, 101) !important;
}

.placeholder {
    flex-shrink: 0;
    margin-right: auto !important;
    padding: 12px 12px !important;
    font-size: 13px !important;
}

.dashboard-btn {
    flex-shrink: 0;
    margin-left: auto !important;
    padding: 12px 12px !important;
    font-size: 13px !important;
}

.modules {
    text-align: center;
    vertical-align: middle;
    padding: 0px 20%;
    width: 100%;
}

.media {
    padding: 35px 0px;
}

.media-body h1,
h2,
h3,
h4,
h5 {
    font-size: 30px !important;
}

.media-body {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.media img {
    min-height: 175px;
    max-width: 400px;
    border-radius: 10px;
}

.features-page {
    color: white;
    text-align: left;
    padding: 0px 25%;
    width: 100%;
}

.module {
    cursor: pointer;
    text-align: left;
    display: inline-block;
    width: 350px;
    height: 125px;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    background-color: #464646;
    position: relative;
    box-shadow: 4px 4px 4px #1f1f1f;
}

.module-title {
    color: white;
    margin: 0;
}

.module-name {
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: 40%;
    padding: 15px 15px;
    font-weight: 600;
}

.module-description {
    color: rgb(185, 185, 185);
    position: absolute;
    padding: 5px 5px 5px 15px;
    width: 290px;
    bottom: 14%;
}

.module-icon {
    height: 50px;
    width: 50px;
    margin: 22px 5px 42px 20px;
}

.page-title-item {
    font-size: 20px;
    line-height: 26px;
    color: #fff !important;
    text-align: center;
    border-right: 1px solid white;
    margin: 0px 15px 0px 0px;
}

.module-guild {
    padding: 0px 20%;
}

.page-title {
    padding: 8px 15px 8px 0px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.page-title:hover {
    text-decoration: none;
}

.textarea {
    height: 50px;
}

.navbar-toggler-bar {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 25px;
    height: 25px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

#wip {
    color: rgb(119, 119, 119);
    padding: 0px 3px;
}

.response {
    color: white;
    text-align: left;
    padding-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f13128;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f13128;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card-large {
    background-color: #202020;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 5px solid rgb(99, 99, 99);
}

.submit-btn {
    width: 100%;
    text-align: right;
}

.custom-select {
    border: 1px solid rgb(99, 99, 99) !important;
    color: white;
    background-color: rgb(83, 83, 83)!important;
    margin-bottom: 15px !important;
}

.submit-btn input {
    display: inline-block !important;
}

input {
    border: 1px solid rgb(99, 99, 99) !important;
}

.jscolor {
    display: block;
    height: calc(1.5em + .75rem + 2px) !important;
    padding-left: 10px;
    border-radius: .25rem !important;
}

.settings,
.settings-head,
.modules-head {
    margin: 2px 20% 2px 20%;
}

.profile{
    margin: 2px 30% 2px 30%;
}

#bio p{
    color: white;
    font-size: 20px !important;
    padding: 0 !important;
    margin: 0 !important;
}

#bio p .emoji{
    height: 32px;
}

#bio{
    color: white;
    font-size: 20px !important;
    padding-top: 10px;
}

.profile h6{
    color: rgba(235, 235, 235, 0.863) !important;
}

.profile-user{
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#username {
    margin: 0px !important;
    padding-right: 25px !important;
}

#profilePicture {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 25px;
    border: 3px solid white;
}

.settings-head,
.modules-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.modules-head {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.settings-head h1 {
    vertical-align: middle;
}

.switch {
    margin: 0 !important;
}

textarea.form-control {
    border: 1px solid rgb(99, 99, 99) !important;
    color: white !important;
    background-color: rgb(83, 83, 83) !important;
    height: auto !important;
    -webkit-transition: background-color 1s ease, color 1s ease;
    -moz-transition: background-color 1s ease, color 1s ease;
    -o-transition: background-color 1s ease, color 1s ease;
    -ms-transition: background-color 1s ease, color 1s ease;
    transition: background-color 1s ease, color 1s ease;
}

textarea:disabled {
    color: #6c757d !important;
    cursor: default !important;
    background-color: rgb(54, 54, 54)!important;
}

select:disabled {
    color: #6c757d !important;
    cursor: default !important;
    background-color: rgb(54, 54, 54)!important;
}

select {
    -webkit-transition: background-color 1s ease, color 1s ease;
    -moz-transition: background-color 1s ease, color 1s ease;
    -o-transition: background-color 1s ease, color 1s ease;
    -ms-transition: background-color 1s ease, color 1s ease;
    transition: background-color 1s ease, color 1s ease;
}

label {
    -webkit-transition: background-color 1s ease, color 1s ease;
    -moz-transition: background-color 1s ease, color 1s ease;
    -o-transition: background-color 1s ease, color 1s ease;
    -ms-transition: background-color 1s ease, color 1s ease;
    transition: background-color 1s ease, color 1s ease;
}

.invalid-form{
    border-color: rgb(220, 53, 69) !important;
}

.form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border: 1px solid rgb(99, 99, 99);
    color: white !important;
    background-color: rgb(83, 83, 83)!important;
    background-clip: padding-box !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0 !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

*,
 ::after,
 ::before {
    box-sizing: border-box !important;
}

label {
    color: white;
    display: inline-block !important;
    margin-bottom: .5rem !important;
    font-size: 1rem !important;
}

textarea {
    overflow: auto !important;
    resize: vertical !important;
}

.mono {
    font-family: monospace, sans-serif;
    padding: 5px;
    background-color: #aaaaaa71;
    width: auto !important;
    font-size: 15px;
    margin: 10px 10px 10px 10px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
}

.commands-class-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.dark {
    color: rgba(235, 235, 235, 0.863) !important;
}

.commands {
    color: white !important;
    margin: 2px 20% 2px 20%;
}


.commands-class-name {
    font-weight: 750 !important;
    color: tomato;
}

.command {
    padding: 15px 5px;
}

.command h1 {
    font-weight: 300 !important;
    font-size: 30px;
    padding: 0px 5px;
    margin: 0;
    line-height: auto;
}

.command p {
    font-weight: 300 !important;
    font-size: 15px;
    padding: 0px 5px 10px 5px;
    margin: 0;
    color: #a2a8bd;
    line-height: normal;
}

#loginMobile {
    display: none;
}

@media screen and (max-width: 991px) {
    #loginDesktop {
        display: none;
    }
    .page-title-item {
        font-size: 40px;
        line-height: 26px;
        color: #fff !important;
        text-align: center;
        border-bottom: 1px solid white;
        border-right: 0px solid white;
        margin: 20px 0px 20px 0px;
    }
    .page-title {
        padding: 20px 15px 20px 15px;
        vertical-align: middle;
        text-decoration: none;
    }
    .guilds {
        padding: 30px 3%;
    }
    .modules {
        padding: 2px;
    }
    #loginMobile {
        display: initial;
    }
    #loginDesktop {
        display: none;
    }
    .page-title-item {
        font-size: 40px;
        line-height: 26px;
        color: #fff !important;
        text-align: center;
        border-bottom: 1px solid white;
        border-right: 0px solid white;
        margin: 20px 0px 20px 0px;
    }
    .page-title {
        padding: 20px 15px 20px 15px;
        vertical-align: middle;
        text-decoration: none;
    }
    .guilds {
        padding: 30px 3%;
    }
    .modules,
    .features-page{
        padding: 2px;
    }
    
    .module-guild {
        padding: 0px;
    }
    .settings-head,
    .modules-head,
    .module-guild,
    .basic-head {
        margin: 2px 10px 2px 10px;
    }
    .settings, .commands, .profile {
        margin: 2px 15px 15px 15px;
    }

    .features-page {
        padding: 0px 3px;
    }

    .media {
        padding: 35px 5px;
        display: inline-block;
    }
    
    .media img{
        height: auto;
        width: 100%;
    }

    .media .media-body{
        padding: 10px 0px;
    }
}